.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@media screen and (max-width: 600px) {
  .App-header {
    visibility: hidden;
    display: none;
  }
}

@media screen and (min-width: 599px) {
  .App-header {
    text-align: center;
    background-color: #222;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
  }
}

@media screen and (max-width: 600px) {
  .desktop-only {
    visibility: hidden;
    display: none;
  }
}

@media screen and (min-width: 599px) {
  .desktop-only {
    visibility: visible;
  }
}

.App-title {
  text-align: center;
  font-size: 1.5em;
}

.App-intro {
  text-align: center;
  font-size: large;
}

.App-context {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* hide all file type button and replace with label */
input[type='file'] {
  display: none;
}
.uploadBtnL {
  background-color: black;
  color: white;
  border: 1px;
  padding: 8px 10px;
  border-radius: 4px;
}
.uploadBtnL:hover {
  background-color: white;
  color: purple;
  border: 1px;
  padding: 8px 10px;
  border-radius: 4px;
}

.metamask-arrow {
  border-radius: 10px;
  border: 2px solid #73AD21;
  color: black;
  padding: 5px;
  background-color: lightgoldenrodyellow;
  position: fixed;
  right: 20px;
  top: 0px;
}